streamlit
fastapi
uvicorn
pydantic
python-dotenv
langchain_groq
black 
autopep8 
pygments
streamlit-ace
streamlit-code-editor
twisted
pytest
pytest-asyncio
pytest-cov
httpx
aiohttp
pytest-mock
requests
httpcore
python-multipart
markdown
numpy
pandas