
streamlit
fastapi
uvicorn
pydantic
python-dotenv
langchain_groq
black 
autopep8 
pygments
streamlit-ace
streamlit-code-editor
pygments

twisted
pytest
pytest-asyncio
pytest-cov
httpx
aiohttp
pytest-mock
requestshttpcore
python-multipart
markdown
numpy
pandas
uvicorn
